body {
    margin: 0;
    font-family: "Segoe UI";
}

.background{
    background-color: white;
    width:100%
}
.header{
    width: 15%; 
}
.container{
    margin-top: 25vw;
    display: flex;
    flex-direction: column;
}
.firstLign{
    display:flex;
    flex-direction:row;
    JUSTIFY-CONTENT: SPACE-EVENLY;
    MARGIN-BOTTOM: 15VW;
    PADDING-BOTTOM: 15VW;
}
.secundLign{
    display:flex;
    JUSTIFY-CONTENT: SPACE-EVENLY;
    flex-direction:row;
    MARGIN-BOTTOM: 15VW;
    PADDING-BOTTOM: 15VW;
}
.thirdLign{
    display:flex;
    JUSTIFY-CONTENT: SPACE-EVENLY;
    flex-direction:row;
    MARGIN-BOTTOM: 15VW;
    PADDING-BOTTOM: 15VW;
}

.screenGrp{
    border-radius: 3%;
    width: 17vw;
    border:0.1vw
}

.screenTxt{

}

.screen{
    width: 16vw;
}


/* LEFT MENU */

header {
    background-color: #72CBCB;
    display: flex;
    flex-direction: column;
    width: 17vw;
    height: 100vh;
}

header div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
